<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xigua366.sample.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="SysOrgDO">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="parent_id" property="parentId" />
        <result column="org_code" property="orgCode" />
        <result column="org_name" property="orgName" />
        <result column="org_desc" property="orgDesc" />
        <result column="org_type" property="orgType" />
        <result column="org_level" property="orgLevel" />
        <result column="order" property="order" />
        <result column="is_enabled" property="isEnabled" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, parent_id, org_code, org_name, org_desc, org_type, org_level, order, is_enabled, remark, create_time, update_time
    </sql>

</mapper>
